.main__content {
  width: 600px;
}
.main__content .date__editing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__content .date__editing div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__content label,
.main__content textarea {
  display: block;
}
.main__content h2 {
  padding: 60px 0;
}
.main__content label {
  text-align: start;
}
.main__content .dateImportant div {
  margin: 15px 0;
}
.main__content .dateImportant .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__content .dateImportant .description textarea {
  width: 285px;
  height: 32px;
}
.main__content .datelist a {
  color: #1293DC;
  padding: 10px;
}
.main__content .datelist .dateitem .description {
  border-bottom: 1px solid #000000;
  margin-bottom: 30px;
}
.main__content .datelist .dateitem .description label {
  height: auto;
}
.main__content .datelist .dateitem .description label,
.main__content .datelist .dateitem .description textarea {
  width: 470px;
  text-align: start;
}
.main__content .datelist .dateitem .description div {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__content .eddit__info_programm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__content .eddit__info_programm div input[type=file] {
  width: 100%;
  padding: 5px 10px;
  color: #000;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  border-top-left-radius: 5px;
}
.main__content .eddit__info_programm div .file {
  width: 220px;
}
.main__content .eddit__info_programm div textarea {
  width: 285px;
}
.main__content .eddit__info_programm button {
  margin: 40px 0 0 0;
}
.main__content .eddit__info_programm .programm__item {
  width: 100%;
  text-align: center;
}