.konfList {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.konfList .konf {
  padding: 15px 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.konfList .konf .konf__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.konfList .konf .konf__footer {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin: 15px 0 0 0;
}
.konfList .konf .konf__footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.konfList .konf .konf__footer .konf__editing {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.konfList .konf .konf__footer .konf__delet {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #AD0404;
}