.imgEditing__content {
    width: 100%;
    .imgEditing__content {
        display: flex;
        justify-content: space-between;
    }
    .imgEditing__img {
        width: 35%;
        img {
            height:100%;
            width: 100%;
            object-fit: cover;
        }
    }
}