.orgcommitet__item {
    .imgEditing {
        display: block;
        .imgEditing__content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        .imgEditing__input {
            display: grid;
            input {
                border-top: 1px solid rgba(0, 0, 0, 0.3);
                border-left: 1px solid rgba(0, 0, 0, 0.3);
                border-top-left-radius: 5px;
                padding: 5px 2px 0 10px;
                margin-bottom: 10px;
            }
            button {
                background: rgba(0, 0, 0, 0.7);
                border-radius: 5px;
                padding: 6px 10px;
            }
        }
    }
}