@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import 'autoriz.scss';
@import 'reg.scss';
@import 'header.scss';
@import 'addConf.scss';
@import 'editing.scss';
@import 'editing-info.scss';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    a {
        text-decoration: none;
        color: #000000;
    }
}

h1 {
    text-align: center;
}

.input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 7px;
    width: 275px;
    height: 40px;
}

.input:focus {
    outline: none;
    border-color: blue;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    .main__body {
        padding: 60px 0 0 0;
        display: flex;
    }
}

div {
    text-align: center;
}

.warning {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #505050;
    background-image: url("../img/icon/warning.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 17px;
    padding: 0 0 0 20px;
    display: inline;
}

input[type="date"] {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding: 5px 15px 0 0;
    background: url(../img/icon/date.png) no-repeat right;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
}

.ruText {
    color: #394BE5;
}

.enText {
    color: #F54E4E;
}

textarea {
    resize: vertical;
    border-radius: 5px;
}

button {
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
}

label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.8);
}