.cookie {
    z-index: 100;
    position: fixed;
    left: 60%;
    top: 70%;
    max-width: 440px;
    background: #ffffff url("/img/cookie/twemoji_cookie.png") no-repeat;
    background-position: 25px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px 24px 15px 135px;
    border-radius: 10px;
    .cookie_form {
        max-width: 280px;
        .cookie_text {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: #000000;
            margin: 15px;
        }
        .cookie_btn {
            background: rgba(234, 7, 99, 0.7);
            border-radius: 5px;
            color: #FFFFFF;
            padding: 7px 72px;
            border: none;
        }
        .cookie_btn:hover {
            background: #E96FA0;
        }
        .cookie_btn:active {
            background: rgba(184, 2, 74, 0.7);
        }
    }
}

@media (max-width: 1100px) {
    .cookie {
        left: 50%;
        top: 60%;
        width: 260px;
        padding: 10px 10px 10px 72px;
        background: #ffffff url("/img/cookie/twemoji_cookie(1).png") no-repeat;
        background-position: 10px;
        .cookie_form {
            .cookie_btn {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 94.2%;
                color: #FFFFFF;
                padding: 7px 30px;
            }
            .cookie_text {
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: #000000;
            }
        }
    }
}